// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

//CamelCase
$primary-color: #6421d3;
$secondary-color: #fabc5f;
$primary-color--light: rgba(100,33,211,0.6);
$primary-color--dark: #27085D;
$secondary-color--light: rgba(250, 188, 95, 0.7);
$secondary-color--dark: #e28743;
$bg-light: rgba(254,248,249,255);
