// Specific CSS for your home-page
h1, p {
  text-align: center;
  font-size: 1.5rem;
  font-family: $secondary-font;
  color: black;
  font-size: 30px;
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  // border: solid;
}

.camel-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.flex-item {
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-around;
  width: 165px;
  height: 190px;
  display: block;
  border: solid;
  background-color: #fff;
  border-radius: 2px;
}

// searchbar

.searchbar {
  width: 30%;
  position: relative;
  top: -2%;
  left: 35%;
  display: flex;
  align-items: center;

  p {
    flex-grow:1;
    margin:0;
  }
}

.search-form-control {
  position: relative;
  width: 30%;
  background: white;
  position: relative;
  top: -2%;
  left: 35%;
  display: flex;
  align-items: center;

  p {
    flex-grow:1;
    margin:0;
  }
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

/*.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}*/

.camel-search-btn {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

.camel-search-field {
 border-radius: 10px;
}

.camel-search-field:focus {
  border-color: #1EDD88;
  box-shadow: 0 0 0 0.2rem rgba(30, 221, 136, .25);
}
