// Specific CSS for your home-page
h1, p {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
  border: solid;
}

.camel-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.flex-item {
  grid-template-columns: 1fr 1fr 1fr;
  align-content: space-around;
  width: 165px;
  height: 190px;
  display: block;
  border: solid;
  background-color: #fff;
  border-radius: 2px;
}

.searchbar {
  width: 30%;
  background: white;
  position: relative;
  top: 30%;
  left: 35%;
  display: flex;
  align-items: center;

  p {
    flex-grow:1;
    margin:0;
  }
}
