// Import page-specific CSS files here.
@import "home";

.camels-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1rem;
  padding: .6rem;
}

.camel-card {
  display: flex;
  align-items: center;
  max-width: 25rem;
  width: 100%;
  height: max-content;
  flex-direction: column;
  padding: 0;
  background-color: $bg-light;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1rem;
  border-radius: 4px;
  overflow: hidden;
  font-family: $secondary-font;
}

.camel-card p {
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: .6rem;
}

.camel-photo {
  width: 100%;
  max-width: 400px;
  height: auto;

}

.camel-info {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 2rem;
  text-align: left;
  align-items: baseline;
  line-height: 1.5;
}

.camel_city {
  font-size: 90%;
  color: $secondary-color--dark;
}


.camel_type {
  font-size: 1rem;
  color: $primary-color--dark;
}

.camel--age {
  font-size: 100%;
}

.age-note {
  color: $primary-color--light;
  font-weight: $font-weigh--bold;
}

.camel--price {
  font-weight: $font-weigh--bold;
  color: $secondary-color--dark;
}


.camel-card-link:hover {
  text-decoration: none;
}

.camel-card:hover {
  background-color: rgba(250, 188, 95, 0.3);
  color: $primary-color;
  cursor: url(asset-path('camel.png')), auto !important;
}

.card-icon {
  margin-right: .6rem;
}
