body {
  background-color: #FFFFFF;
}

.camel-name {
  font-size: 32px;
  text-align: left;
}

.intro {
  font-size: 24px;
}

.description-text {
  font-size: 12px;
  text-align: left;
}

.header-box {
  margin-bottom: 12px;
  box-shadow: 0px 4px 2px #ececec;
  border: 1px solid $bg-light;
  width: 500px;
  background-color: $bg-light;
  padding: 12px;
  border-radius: 4px;
  margin-top: 12px;
}

.description {
  box-shadow: 0px 4px 2px #ececec;
  border: 1px solid $bg-light;
  width: 500px;
  background-color: $bg-light;
  padding: 12px;
  padding-bottom: 104px;
  margin-bottom: 48px;
  border-radius: 4px;
  position: relative;
}

.details {
  box-shadow: 0px 4px 2px #ececec;
  border: 1px solid $bg-light;
  background-color: $bg-light;
  margin-left: 16px;
  padding: 12px;
  width: 284px;
  border-radius: 4px;
  height: inherit;
  margin-bottom: 48px;
  margin-top: 12px;
}

.container-show {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 80px;
}

.background {
  height: 350px;
  background-size: cover;
  background-position: center;
}

.camel-image {
  overflow: hidden;
}

.camel-avatar {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform .6s ease;
}

.camel-avatar:hover {
  transform: scale(1.15);
	cursor: pointer;
}

.camel-box {
  display: flex;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cta-booking {
  background-color: $primary-color;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 56px;
  padding-left: 56px;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 72px;
}

.cta-booking:hover {
  text-decoration: none;
  color: white;
  background-color: $primary-color--dark;
}

.camel-purpose,
.description-text,
.details-camel p {
  font-size: 100%;
}

.camel-purpose,
.details-camel p {
  text-align: left;
}

.camel-buttons {
  margin-top: 1rem;
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.detail-icon {
  color: $secondary-color;
  margin-right: 1rem;
}

.camel-price {
  margin-top: 2rem;
  font-size: 200% !important;
  font-weight: $font-weigh--bold;
  color: $secondary-color--dark;
}
