<h1>CamelCase</h1>
<p>Rent your Camel</p>

<div class="flex-container">
  <div class="camel-cards">
    <div class="flex-item">
      George - Camel 1
    </div>

    <div class="flex-item">
      Camilla - Camel 2
    </div>

    <div class="flex-item">
      Florence - Camel 3
    </div>
  </div>
</div>
