@import "../config/fonts";

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: $secondary-font;
  padding: 0 !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {

}

.navbar-brand {
  flex-grow: 1;
  padding: 0;
}

.navbar-logo {
  height: 90px;
  position: relative;
  left: 0%;
}

.dropdown-menu {
  left: unset !important;
  right: 2%;
}

.camel-item {
  margin: 0 1.5rem;
  font-weight: $font-weigh--bold;
  position: relative;
  text-transform: uppercase;
}

.camel-item:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 10px;
  bottom: 2px;
  right: 0;
  opacity: 0;
  background: $secondary-color;
}

.camel-link {
  color: $primary-color !important;
  cursor: url(asset-path('camel.png')), auto !important;
}


@media (hover:hover) {
  .camel-link:hover {
    color: $primary-color--dark !important;
  }

  .camel-dropdown:hover {
    background-color: $secondary-color--light;
  }


  .camel-item:hover:before {
    opacity: 1;
  }
}
