.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Times New Roman', serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {

}

.navbar-brand {
  flex-grow: 1;
}

.navbar-logo {
  height: 100px;
  position: relative;
  left: 66%;
}
