body {
  background-color: #FFFFFF;
}

.camel-name {
  font-size: 32px;
}

.intro {
  font-size: 24px;
}

.description-text {
  font-size: 12px;
}

.header-box {
  margin-bottom: 12px;
  box-shadow: 0px 4px 2px #ececec;
  border: 1px solid #FFFCF9;
  width: 500px;
  background-color: #FFFCF9;
  padding: 12px;
  border-radius: 4px;
  margin-top: 12px;
}

.description {
  box-shadow: 0px 4px 2px #ececec;
  border: 1px solid #FFFCF9;
  width: 500px;
  background-color: #FFFCF9;
  padding: 12px;
  padding-bottom: 104px;
  margin-bottom: 48px;
  border-radius: 4px;
}

.details {
  box-shadow: 0px 4px 2px #ececec;
  border: 1px solid #FFFCF9;
  background-color: #FFFCF9;
  margin-left: 16px;
  padding: 12px;
  width: 284px;
  border-radius: 4px;
  height: inherit;
  margin-bottom: 48px;
  margin-top: 12px;
}

.container-show {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 80px;
}

.background {
  height: 350px;
  background-size: cover;
  background-position: center;
}

.camel-avatar {
  border-radius: 4px;
}

.camel-box {
  display: flex;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cta-booking {
  background-color: black;
  color: white;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 56px;
  padding-left: 56px;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 72px;
}

.cta-booking:hover {
  text-decoration: none;
  color: lightgrey;
}
